* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: seashell;
    text-align: center;
}

body {
 text-align: center;
 background-color: black;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
}

header{
    height: 69px;
    background-color: black;
    width: 100%;
    z-index: 12;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
}

.img-logo{
    max-height: 50px; 
    padding-left: 10px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: 10px;
}
nav{
    float: right;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
}
nav a{
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 5px;
    color: seashell;
}

.banner-area{

    width: 1200px;
    height: 700px;
    display: flex;
    margin: auto auto;
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center;
}

.text-banner-area{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.text-area{
    position: absolute;
    margin: 10px;
}

.text-area{
    width: 1200px;
    position: absolute;
    background-color: black;
}

.tea-of-the-mounth{
	flex-wrap: wrap;
    width: 1000px;
    display: flex;
    margin: auto auto;
    align-items: top;
    justify-content: center;
}

.h2-div{
    float: center;
    margin-top: 69px;
}

.h4-div{
    float: center;
    margin-top: auto;
    margin-bottom: 15px;

}

.top-h4{
    margin-top: 10px;
}


.img-grid-img{
    height: 200px;
    width: 300px;

}

.space-img{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.location-box{
    position: relative;
    display: grid;
    place-items: center;
    width: 1200px;
    height: 100%;
    margin: auto auto;
    background-size: cover;
    background-position: center;
}

.mini-location-box{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
}

#location-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-items{
    display: flex;
    flex-direction: row;
    display: flex;
    width: auto;
    height: auto;
    margin-top: 15px;
	flex-wrap: wrap;
    align-items: center;
	justify-content: center;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    width: 200px;
    height: 100%;
    margin: auto 40px auto 40px;
    padding: 15px;
    background-color: black;
}

